@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    box-sizing: border-box;

}

.cabecalho{
    padding: 5% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #22d4fd;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: #f6f6f6;
    transition: 0.5s;
}

.conteudo{
    display: flex;
    align-items: center;
    padding: 5% 15%
}

.conteudo__principal{
    color: white;
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
}

.conteudo__principal__titulo{
    font-size: 28px;
    font-family: 'Krona One', sans-serif;
    line-height: 30px;
}

.conteudo__principal__titulo strong{
    color: #22d4fd;
}

.conteudo__principal__titulo strong:hover{
    color: #e5d4c2;
    text-shadow: 1px 1px 10px #ffd726;
}

.conteudo__principal__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.conteudo__principal__botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.conteudo__principal__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.conteudo__principal__botoes__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 70%;
    border: 1px solid #22d4fd;
    border-radius: 8px;
    text-decoration: none;
    padding: 15px 0;
    color: #f6f6f6;
    text-align: center;
}

.conteudo__principal__botoes__links:hover{
    background-color: #272727;
    transition: 0.5s;
    box-shadow: 1px 1px 10px #3eecde;
    color: white;
}

.rodape{
    color: #000000;
    background-color: #22d4fd;
    padding: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8%;
}